body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
  }

  header {
    background-color: #b60f0f;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .post {
    background-color: #d10f0f;
    width: calc(33.33% - 1rem);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 767px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  .post-china {

    background-color: blue;
    border-radius: 30px;
}
.post-image {
    width: 75%; /* Resize the image to 100% of the container's width */
    height: auto; /* Maintain aspect ratio */
}
.post-paris {
    background-color: yellow;
    border-radius: 30px;
    
    
}
.post-tokyo {
  border-radius: 30px;
  background-color: red; 
     
}